
.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  // background: #f3f3f3;
  padding: 0,5rem;
  gap: 2rem;
}

.step {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  color: #666;

  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 18px;
  }

  &.active {
    font-weight: bold;
    color: #000;

    .circle {
      background-color: #004d3b;
      color: white;
    }

  }
}

.line {
  width: 60px;
  height: 2px;
  background: #ccc;
}